// Place all the styles related to the todo_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_bar {
  text-align: right;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 10px;
}